* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-container {
  background-color: rgb(45, 45, 45);
  background-image: url(../images/slider-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  color: #fff;
}
.hero-container .header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}
.hero-container .header .logo {
  font-size: 20pt !important;
  font-family: monospace;
  font-weight: bolder;
}
.hero-container .header .logo a {
  color: #fff;
  text-decoration: none;
}
.hero-container .header .menu-toggle {
  color: black;
  background-color: #fff;
  padding: 1rem;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  text-align: center;
  top: 1rem;
  position: fixed;
  right: 2rem;
}

.content {
  width: 50%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 25px;
}
.content h1 {
  font-size: 50pt;
}
.content p {
  font-size: 15pt;
  font-family: sans-serif;
}
.content .btn {
  border: 1px solid #fd9c6b;
  background: none;
  color: #fd9c6b;
  padding: 1rem 2rem;
  border-radius: 5px;
}
.content .btn:hover {
  background-color: #fd9c6b !important;
  color: #fff !important;
}

.heading {
  text-align: center;
  margin: 3rem 2rem;
}
.heading h1 {
  font-size: 24pt;
}
.heading .button {
  border: 1px solid #fd9c6b;
  background: #fd9c6b;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
  display: block;
  margin: auto;
}
.heading .button:hover {
  background-color: #fff !important;
  color: #fd9c6b !important;
}

.product-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2rem;
  padding: 2rem;
}
.product-container .product {
  background-color: rgb(224, 224, 224);
  padding: 1rem;
}
.product-container .product .badge {
  color: black;
  background-color: #fff;
  padding: 1rem;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  text-align: center;
}
.product-container .product .badge span {
  font-weight: bold;
}
.product-container .product img {
  height: auto;
  width: 100%;
}
.product-container .product .product-footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 0 0;
  align-items: center;
}
.product-container .product .product-footer .price .amount {
  color: #fd9c6b;
}

.about-us {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
  padding: 1rem;
}
.about-us .img-box img {
  width: 100%;
  height: 350px;
  position: relative;
  left: 20px;
  top: 20px;
}
.about-us .img-box::before {
  content: "";
  height: 250px;
  width: 250px;
  background-color: black;
  /* display: inline; */
  position: absolute;
}
.about-us .desc {
  display: flex;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.about-us .desc h1 {
  font-size: 28pt;
}
.about-us .desc p {
  font-size: 15pt;
}
.about-us .desc button {
  border: 1px solid #fd9c6b;
  background: #fd9c6b;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0px;
}
.about-us .desc button:hover {
  background-color: #fff !important;
  color: #fd9c6b !important;
}

.offer {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
  padding: 1rem;
}
.offer img {
  width: 100%;
  height: -webkit-fill-available;
}
.offer .left-section, .offer .right-section {
  position: relative;
}
.offer .offer-desc {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
}

.blog-section {
  padding: 2rem;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
}
.blog-section .blog img {
  width: 100%;
}
.blog-section .blog .blog-footer {
  background-color: #e7e7e7;
  padding: 0.8rem;
}
.blog-section .blog .blog-footer .date {
  width: 80px;
  height: 80px;
  background: #160e0b;
  color: white;
  padding: 10px 20px;
  font-size: 18pt;
  border: 5px solid white;
  position: relative;
  top: -70px;
}
.blog-section .blog .blog-footer .blog-details {
  display: flex;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.blog-section .blog .blog-footer .blog-details button {
  border: 1px solid #000;
  background: transparant;
  color: #000;
  padding: 1rem 2rem;
  border-radius: 0px;
}
.blog-section .blog .blog-footer .blog-details button:hover {
  background-color: #000 !important;
  color: #fff !important;
}

.testimonial .img-card-container .img-card {
  width: 80%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(67, 2, 2);
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 1rem;
}
.testimonial .img-card-container .img-card img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid grey;
}
.testimonial .img-card-container .img-card .title {
  color: #fd9c6b;
}
.testimonial .img-card-container .img-card p {
  color: #fff;
}/*# sourceMappingURL=style.css.map */